//==================COLORS==================//
$brand-color: #DE2E54;
$primary-text-color: #444444;
$secondary-text-color: #222222;
$bg-color: #0EB4C1;

//==================TYPOGRAPHY==================//
$primary-font-family: 'Open Sans Condensed', Arial, sans-serif;
$secondary-font-family: 'Open Sans', Arial, sans-serif;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$big-heading-size: 3.6rem;
$big-heading-line-height: 1.2;

$smaller-heading-size: 2.4rem;
$smaller-heading-line-height: 1.2;

$body-text-size: 1.6rem;
$body-text-line-height: 1.5;

$button-text-size: 1.5rem;
$button-line-height: 1.5;

//==================WIDTH====================//
$container-max-width: 1100px;