@import '../abstract/variables';

.contact {
   padding: 6.4rem 0;
   background: $bg-color;
   text-align: center;

   &__title {
      font-family: $primary-font-family;
      font-size: $big-heading-size;
      line-height: $big-heading-line-height;
      color: #fff;
      font-weight: $font-weight-700;
      margin: 0 0 4rem 0;
   }

   &__action {
      display: flex;
      gap: 4.4rem;
      align-items: center;
      text-align: center;
      justify-content: center;
   }
}